<h1>
  Comments chart
</h1>
<div>
  <div class="container">
    <div class="col-md-6">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <div class="col-md-6">
      <div *ngFor="let comm of this.posts[0].comments">
        {{comm}}
      </div>
      <input type="text" [(ngModel)]="newComm">
      <button (click)="addComment()">ADD COMMENT</button>
      <button (click)="getSentiments()">GET SENTIMENTS</button>
    </div>
  </div>
</div>

