<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spring Boot - POST-GET AJAX Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">iStudent</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">All courses</a></li>
                <li><a href="/availableCourses">Available courses</a></li>
                <li><a href="/historyCourses">History of courses</a></li>
                <li><a href="/progress">Progress</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron">
            <h3>Course subscription</h3>
            <ul id="courses-list"></ul>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/allCourses.js"></script>
</body>
</html>