<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
</head>
<title>Analytics and Reporting - Course related analytics</title>
<body>
<h1>Analytics and Reporting - Course related analytics</h1>
    <ol>
        <li><a href="http://localhost:8080/api/statistics/alldata">Statistics of all students</a></li>
        <li>Statistics based on number of students that graduated the course compared to total number of students</li>
        <ul>
            <li type="square"><a href="http://localhost:8080/api/statistics/course/Java">Java</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/course/C++">C++</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/course/Python">Python</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/course/C">C</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/course/Assembly">Assembly</a></li>
        </ul>
        <li>Statistics based on graduation of students broken down to student country of residence</li>
        <ul>
            <li type="square"><a href="http://localhost:8080/api/statistics/country/Romania">Romania</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/country/Germany">Germany</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/country/England">England</a></li>
        </ul>
        <li>Statistics based on age groups and graduation - Use Postman Chrome</li>
        <li>Statistics based on graduation and gender</li>
        <ul>
            <li type="square"><a href="http://localhost:8080/api/statistics/gender/MALE">Male</a></li>
            <li type="square"><a href="http://localhost:8080/api/statistics/gender/FEMALE">Female</a></li>
        </ul>
    </ol>
</body>
</html>