<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spring Boot - POST-GET AJAX Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">

    <h1>My name is pattern, design pattern </h1>
    <img src = "https://vignette.wikia.nocookie.net/jamesbond/images/d/dc/James_Bond_%28Pierce_Brosnan%29_-_Profile.jpg/revision/latest?cb=20130506224906"/>

    <button type="button" class="btn btn-default" id = "htmlBtn">Generate HTML</button>
    <button type="button" class="btn btn-default" id = "jsonBtn">Generate JSON</button>
    <button type="button" class="btn btn-default" id = "pdfBtn">Generate PDF</button>
    <div id="reportHtmlCode"></div>
    <div id="reportHtml"></div>
    <div id = "report"> </div>
    <button type="button" class="btn btn-default" id="see-more-button">See more</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/greeting.js"></script>
<script src="/js/report.js"></script>

</body>
</html>